node_modules/
.meteor/local
production-settings.json
token.json
mongodump/
.deploy/mup.js
.deploy/settings.json
.dist

# Meteor Modern-Tools build context directories
_build
*/build-assets
*/build-chunks
.rsdoctor

tsconfig.tsbuildinfo
