language: node_js
node_js:
  - "8"
before_script:
  # Install meteor
  - curl https://install.meteor.com | /bin/sh
  # Add meteor to path (instead of asking for sudo in the Travis container)
  # We can then use the faster container infrastructure - http://docs.travis-ci.com/user/workers/container-based-infrastructure/
  - export PATH=$HOME/.meteor:$PATH
script:
  - meteor build ./build
cache:
  directories:
    - node_modules
deploy:
  provider: script
  script: meteor deploy wip-pos.eu.meteorapp.com --settings settings.json
  on:
    branch: master
